* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* Banner and Header section */
.banner {
    background-image: url("../images/banner/banner3.png");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: right;
}

.banner-title {
    position: absolute;
    width: 525px;
    height: 350px;
    left: 2200px;
    top: 216px;
    font-weight: 700;
    font-size: 75px;
    line-height: 76px;
    text-align: right;
    color: #FFFFFF;
}

.banner-description {
    position: absolute;
    width: 494px;
    height: 78px;
    left: 2230px;
    top: 468px;
    font-size: 32px;
    line-height: 48px;
    color: #FFFFFF;
}
.btn-primary{
    position: absolute;
    width: 123px;
    height: 5px;
    left: 2600px;
    top: 780px;
    font-weight: 600;
    font-size: 16px;
    padding: 15px 20px 45px;
    border: none;
    color: #005FAC;
}
/* the failure of previous year section */
.failure-section{
    display: flex;
    justify-content:space-around;
    text-align: center;
    margin-top: 130px;
    margin-bottom: 120px;
}
.failure-section-image{
    width: 769px;
    height: 725px;
    top: 1639px;
    left: 306px;
    padding-right: 37px;
    padding-left: 20px;
    /* position: absolute; */
}
.failure-title{
    position: absolute;
    width: 416px;
    height: 94px;
    left: 1700px;
    top: 1800px;
    font-weight: 700;
    font-size: 40px;
    text-align: left;
    padding-bottom: 40px;
    color: #151414;
}
.failure-description{

    width: 416px;
    height: 104px;
    left: 1700px;
    top: 1942px;
    font-weight: 400;
    font-size: 26px;
    line-height: 26px;
    text-align: left;
    color: #444343;
    position: absolute;
}
.failure-reason{
    position: absolute;
    text-align: left;
    width: 416px;
    height: 104px;
    left: 1685px;
    top: 2150px;
    font-size: 18px;
    color: #444343;
}
/* What i do in this year */
.future-plan-section{
    position: absolute;
    text-align: center;
}
.future-plan-title{
    position: absolute;
    width: 179px;
    height: 47px;
    left: 1370px;
    font-weight: 700;
    font-size: 40px;
    color: #151414;
}
.to-do-lists{
    display: flex;
    justify-content: space-around;
    position: absolute;
    width: 1141px;
    height: 205px;
    left: 800px;
    top: 150px;
}
.to-do-list{
    padding-left: 150px;
}
.to-do-list-img{
    padding-bottom: 30px;
}
.to-do-list-title{
    width: 270px;
    height: 35px;
    font-size: 30px;
    font-weight: 700;
    color: #151414;
    padding-bottom: 10px;
}
.to-do-list-para{
    height: 32px;
    font-size: 25px;
    font-weight: 500;
    color: #737272;
    padding-bottom: 20px;
}
/* liner gradient add section */
.tag-line-section{
    position: absolute;
    width: 1500px;
    height: 300px;
    left: 600px;
    right: 700px;
    top: 3000px;
    text-align: left;
    background-image: url("../images/gradient1.png"), url("../images/watch.png");
    background-repeat: no-repeat;
    background-position:initial;
    background-size: 1700px;
    padding: 125px 80px;
}
.tag-line{
    padding: 20px 30px;
    width: 459px;
    height: 94px;
    font-size: 40px;
    font-weight: 47px;
    color: #FFFFFF;
}
.btn-contact{
    position: absolute;
    margin-top: 10px;
    padding: 20px 30px;
    left: 105px;
}
.final-section{
    position: absolute;
    width: 100%;
    height: 45vh;
    top: 3700px;
    background: #151414;
}
.future-section{
    display: flex;
    justify-content: space-around;
    text-align: left;
    color: white;
    margin-top: 50px;
}
.future-details{
    width: 485px;
    height: 317px;
    left: 230px;
    top: 3300px;

}
.future-title{
    width: 350px;
    height: 80px;
    font-size: 65px;
    padding-bottom: 40px;
}
.future-description{
    width: 685px;
    height: 90px;
    font-size: 28px;
    padding-bottom: 80px;
}
.info{
    width: 600px;
    height: 40px;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    display: flex;
}

.info-icons{
    width: 250px;
    height: 50px;
    padding-top: 50px;
    display: flex;
    gap: 30px;
}
.contact-head{
    width: 150px;
    height: 25px;
    font-weight: 700;
    font-size: 65px;
    padding-bottom: 80px;
}
.contact{
    width: 345px;
    height: 64px;
    font-size: 26px;
    display: flex;
}
.btn-subscriber{
    width: 170px;
    height: 64px;
    font-size: 24px;
    background-color: #005FAC;
}